@charset "utf-8";

* {
	margin: 0;
	padding: 0;
}

body {
	
	background-size: cover;	
}

header {
	background-color: black;
	text-align: center;
	color: white;
	height: 200px;
}

h3 {
	font-size: 35px;
	margin-top: 17px;
	font-family: "Archive Regular", "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
}

h1 {
	font-family: "Archive Regular", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 75px;
	padding-top: 25px;
}

img {
	margin-top: 100px;
	margin-left: 150px;
	float:left;
	border-radius: 50%;
	margin-bottom: 100px;
	
}

.squared {
	height: 600px;
	width: 600px;
	object-fit: cover;
}

#imageText {
	background-color: white;
	list-style-position: inside;
	margin-top: 100px;
	margin-left: 150px;
	float: left;
	width: 600px;
	height: 500px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	
}

.title {
	font-family: 'Archive Regular', Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	margin-bottom: 20px;
	font-size: 40px;
	margin-top: 50px
}

p {
	padding-top: 25px;
}

ol {
	margin-top: 20px;
	padding-left: 35px;
	margin-bottom: 0px;
	
}

ol li {
	margin-bottom: 0px;
	line-height: 40px;
}

hr {
	border: 1px solid black;
}

/* About me section start here */


.aboutme {
	background-color: black;
	color: white;
	clear:both;
	display: block;
	height: 80px;
	padding-top: 30px;
}

section div h2 {
	text-align: center;
	font-size: 40px;
	font-family: "Archive Regular", Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.box {
	background-color: black;
	color: white;
	width: 500px;
	height: 500px;
	text-align: center;
	margin-top: 180px;
	line-height: 50px;
	font-size: 30px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	border-radius: 10%;
}

.left {
	margin-left: 200px;
	float: left;
}

.right {
	margin-right: 200px;
	float: right;
}

.aboutme p {
	margin-top: 70px;
	
}



/* Bottom of the page */

footer div {
	background-color: black;
	margin-top: 600px;
	clear: both;
	position: absolute;
	width: 100%;
	height: 200px;
}

footer div {
	color: white;
}

footer h3 {
	margin-left: 100px;
}

div ul {
	margin-top: 25px;
	margin-left: 100px;
	line-height: 30px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	list-style-position: inside;
}

a:link {color: #7f5af0}
a:visited {color: #83e1ba}
a:hover {color: #2cb67d}
a:active {color: #00ff96}

/* update */

.block {
	display: block;
}